.main_login {
  display: "flex";
  align-items: "center";
  justify-content: "center";
  width: 100%;
}
.login_card {
  border: 1px solid grey;
  margin: 7% auto;
  width: 500px;
  border-radius: 8px;
  align-self: center;
  padding: 26px;
  box-shadow: rgba(0.24, 0.24, 0.24, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.login_heading {
  font-weight: 700;
  align-self: center;
  margin-bottom: 30px;
  font-size: 24px;
}
.login_email {
  width: 400px;
  align-self: center;
}
